.api-doc__container {
    font-size: var(--font-size-s);
    width: 100%;
    display: flex;
    flex-flow: row;
}

.api-doc__container a:hover{
    text-decoration: underline;
}

.api-doc{
    position: relative;
    padding-left: 10px;
    padding-top: 29px;
    padding-right: 10px;
    top: 0;
    overflow-y: scroll;

    & h1 {
        margin: 1px;
        font-size: 1.5rem;
        font-family: "IBM Plex Mono-Light";
        line-height: 1.2rem;
    }
}

.api-doc a{
    font-size: 1em;
    color: darkorange;
}

.api-doc .tabs{
    padding-top: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    text-align: left;

    h1 {
        text-align: left;
        align-content: start;
        align-items: start;
    }
}

.apiText {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(100%) rotate(90deg) translateY(150%);
    transform-origin: right top;
    white-space: nowrap; /* Ensure the text doesn't wrap */
    font-weight: 900;
}
.apiInterface--container{
    position: relative;
    padding: 30px;
    top: 50px;
    width: 100%;

    & h2 {
        font-size: 1.8em;
        font-family: Basalte-Fond;
    }

    & nav > a {
        display: block;
        color: darkorange;
        font-weight: bolder;
        font-size: 1.5em;
        font-family: Basalte-Fond;
        text-transform: uppercase;
    }

    & nav > a:hover {
        text-decoration: underline;
    }

    & .codeBox{

    }
}

.api-response {
    /*height: 70vh;*/
    & pre {
        background: #C6D8D3;
        overflow-y: scroll;
        overflow-x: auto;
        max-width: 1000px;
    }
}

pre {
    background: #C6D8D3;
    font-size: 1em;
    color: black;
    overflow-y: scroll;
    overflow-x: auto;
    max-width: 1200px;
    padding: 10px;
}

.hidden {
    height: 0;
    /* transition: height 1s ease; */
}

.visible {
    height: 500px;
    transition: height 1s ease;
    padding: 20px
}

.collapse-title {
    display: flex;
    flex-flow: row;
    gap: 20px;

    & h3:first-child {
        color: orange;
    }
}

.snippet {
    display: grid;
    grid-template-columns: 15% 85%;

    & p {
        color: orange;
    }
}

@media (max-width: 700px) {
    .apiInterface--container {
        display: block;
    }

    .api-doc {
        padding-left: 20px;
        width: 90vw;
    }
}

