.api-doc__container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.api-doc__container a {
    font-size: 2em;
}

.api-doc__container a:hover{
    text-decoration: underline;
}

.api-doc{
    padding-left: 50px;
    max-width: 1200px;
}

.api-doc a{
    font-size: 1em;
    color: darkorange;
}

.apiText {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(100%) rotate(90deg) translateY(150%);
    transform-origin: right top;
    white-space: nowrap; /* Ensure the text doesn't wrap */
    font-weight: 900;
}
.apiInterface--container{
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 30px;
    top: 50px;

    & h2 {
        font-size: 1.8em;
    }

    & nav > a {
        display: block;
        color: darkorange;
        font-weight: bolder;
        font-size: 1.5em;
    }

    & nav > a:hover {
        text-decoration: underline;
    }

    & .codeBox{

    }
}

.api-response {
    height: 70vh;
    & pre {
        background: #C6D8D3;
        padding: 30px;
        overflow-y: scroll;
        overflow-x: auto;
        max-width: 1200px;
        height: 60vh;
    }
}