.documentation h1 {
    border: var(--main-green) dotted 2px;
    padding: 10px;
    border-radius: 25px;
    width: fit-content;
    color: var(--main-green);
}

.documentation p code {
    background-color: #e9fbe9;
    border-left: var(--main-green) 4px solid;
    padding: 10px;

    span {
    }
}