header {
    position: sticky;
    max-width: 100vw;
    height: 60px;
    padding: 20px 20px 0px 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--main-green) dotted 3px;
}

.header__logo-container{
    height: 80%;
    justify-content: center;

    img {
        height: 100%;
    }
}

header > nav {
    display: flex;
    flex-direction: row;
    position: relative;
}


.nav__lang-container {
    display: flex;
    flex-direction: row;
    height: 80%;

    > p {
        font-size: var(--font-size-s);
        padding-block-start: 0;
        margin: auto auto ;
        justify-content: center;
        text-align: center;
        border: var(--main-green) dotted 2px;
        border-radius: 25px;
        margin-left: 10px;
        padding: 0 10px;
    }

    > p.selected {
        background-color: var(--main-green);
        border-color: white;
    }

}

@media (max-width: 800px) {
    header {
        border-bottom: black 2px solid;
    }

    header > .header__logo-container > img {
        display: block;
    }
}