:root{
    --light: white;
    --dark: black;
}

.sidebar__container-main {
    position: fixed;
    padding-top: 45px;
}


.toggle-switch-container {
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    flex-direction: row;

    p {
        color: var(--text-color);
        margin: 0;
        padding-right: 10px;
    }
}

.toggle-switch {
    position: relative;
    width: 2.6rem;
    height: 1.4rem;
}

label {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
}

input {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
}

input:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 0.09rem;
    left: 0.1rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    box-shadow: inset 28px -4px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
}

input:checked ~ .slider::before {
    transform: translateX(1.2rem);
    background-color: var(--dark);
    box-shadow: none;
}
.sidebar__container{
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-flow: column;
    position: relative;
    padding-right: 50px;
}

.sidebar__container > a {
    font-family: "IBM Plex Mono-Light";
    font-weight: 100;
    display: inline-block;
    margin-top: 5px;
    padding: .3em .25em .225em;
    color: var(--text-color);
    border: 1px solid var(--background-color);
    text-transform: uppercase;
    font-size: var(--font-size-s);
}

.sidebar__container > .subpage {
    color: orange;
    font-size: var(--font-size-xs)
}

.sidebar__container > .subpage-sub {
    color: coral;
    font-size: var(--font-size-xs);
    padding-left: 10px;
}

.sidebar__container > a:first-child {
    margin-top: 0;
}

.sidebar__container > div {
    position: fixed;
    width: 10%;
}

.sideNav{
    position: absolute;
    top:0;
    width:20%;
    bottom:0;
    background: #C6D8D3;
    transform: translateX(0);
    transition: transform 1s ease;
}

.sideNavClosed {
    transform: translateX(-98vw);
}

.sideNavClosed:hover {
    background: white;
    width: 100%;
}

.dropMenu{
    width: 100%;
    padding: 0 20px;
    max-height: 500px;
    transition: max-height ease 500ms;
}

.closed {
    max-height: 0;
}

.home-link--container {
    position: absolute;
    top: 100px;
    padding-left: 10px;
    width: 100vw;
}

.home-link {

    & p {
        font-family: "IBM Plex Mono-Light";
        text-transform: uppercase;
        font-size: var(--font-size-s);
        display: inline-block;
        padding: .3em .25em .225em;
        margin-bottom: 0;
        color: white;
        background-color: black;
        border: 1px solid white;
        transition: opacity .25s,border-color .25s,background-color .25s,color .25s;
        text-transform: uppercase;
    }

    & p:hover{
        color: black;
        background: white;
        width: 100%;
        border: 1px solid black;
    }
}


@media (max-width: 700px) {
    .sidebar__container {
        display: none;
    }


}