:root {
    --main-green: rgb(5, 255, 0);
    --nest-layer-1-color: #EFECEC;
    --nest-layer-2-color: #F8F4EC;

}

hr {
    margin: 0;
}

.nest-master{
    position: relative;
    padding: 0 2em;
}

.nest-master img{
    padding-right: 1.2rem;
    width: 47%;
}

.indent-border-left {
    border-left: 2px solid var(--main-green);
    padding-left: 30px;
}

.section-head{
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.arrow-container{
    padding-top: 20px;
    width: 0;
    height: 0;
    position: relative;
    margin: 0;
    line-height: 0;
}

.arrow-open{
    display: inline-block;
    line-height: 0;
    margin-top: 4px;
    width: 0;
    height: 0;
    transform: translateX(-3px)
}

._90deg{
    transform: rotate(-90deg);
}

.index-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.index-number {
    margin: 0;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: relative;
}

.L1-container {
    position: relative;
    padding-left: 30px;
    border-left: 2px solid var(--main-green);
}

.L1-slug {
    font-size: var(--font-size-s);
    margin:0;

    & p {
        background-color: var(--nest-layer-1-color);
        margin:10px;
    }
}

.L1-description {
    margin: 0;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-out, opacity 0.3s ease-out;
    border-left: var(--main-green) 2px solid;
}


.L2-container {
    position: relative;
    padding-left: 30px;
}

.L2-slug {
    margin: 0;
    width: fit-content;
    & p {
        line-height: 0;
        background-color: var(--nest-layer-2-color);
    }
}

.L2-description {
    display: block;
    flex-direction: row;
    padding-left: 1.4rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-out, opacity 0.3s ease-out;
    border-left: var(--main-green) 2px solid;

    & p {
        margin-top:0;
    }
}

.glossary-concept{
    font-size: var(--font-size-s);
    margin: 10px;
}

.expanded {
    max-height: 100%;
    opacity: 1;
}

.collapsed {
    margin:0;
    height: 0;
    opacity: 0;
}

.source{
    padding-top: 20px;
}

.highlight {
    background-color: orange;
}


@media (max-width: 700px) {
    .nest-master {
        top: 0;
    }

    .L1-description, .L2-description, .L2-container, .L1-container {
        padding-left: 5px;
    }

    .indent-border-left {
        padding-left: 5px;
    }
}
