.nest-master{
    position: relative;
    top: 3vw;
    padding-left: 5%;
    padding-right: 5%;
}

.arrow-open{
    padding-top: 20px;
}

._90deg{
   transform: rotate(-90deg);
}

.index-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.index-number {
    margin: 0;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: relative;
}

.L1-container {
    position: relative;
}

.L1-slug {
    font-size: var(--font-size-s);
    margin:0;

    & p {
        background-color: greenyellow;
    }
}

.L1-description {
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-out, opacity 0.3s ease-out;
}

.L1-description.expanded {
    max-height: 100Vh;
    opacity: 1;
}

.L1-description.collapsed {
    max-height: 0;
    opacity: 0;
}

.L2-container {
    position: relative;
    padding-left: 30px;
}

.L2-slug {
    margin: 0;
    width: fit-content;
    & p {
        background-color: orange;
    }
}

.L2-description {
    padding-left: 60px;
}


@media (max-width: 700px) {
    .nest-master {
        top: 0;
    }
}