.project--container {
    position: absolute;
    width: 70%;
    right: 0;
    top: 100px;
}

.project--container > .copy {
    position: absolute;
    width: 50%;
    right: 0;
}

.project--container > .copy > h1 {
    margin-top: 0;
    font-size: var(--font-size-l);
}

.project--container > .copy > p,a {
    font-size: var(--font-size-s);
}

.project--container > .media {
    width: 45%;
}

.project--container > .media > img {
    width: 100%;
}