.project--container {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    right: 0;
    top: 0;
}

.project--container > .copy {
    position: absolute;
    width: 80%;
    right: 0;
}

.project--container > .copy > h1 {
    margin-top: 0;
    font-size: var(--font-size-l);
    color: var(--text-color);
}

.project--container > .copy > p,a {
    font-size: var(--font-size-s);
    color: var(--text-color);

}

.project--container > .media {
    width: 45%;
}

.project--container > .media > img {
    width: 100%;
}