.button-circle {
    border: 3px solid black;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    h2 {
        text-align: center;
        justify-content: center;
        transform: translateY(-20%);
        color: #02dc00
    }
}