:root {
    --background-color: white;
    --text-color: black;
    --link-color: orange;
}

[data-theme="dark"] {
    --background-color: black;
    --text-color: white;
    --link-color: orange;
}

body {
    background: var(--background-color);
    overflow-x: hidden;
    margin: 0;
}

.left--panel {
    display: none;
}

@media screen and (min-width: 1800px) {
    .about {
        display: none;
    }

    .main--container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .left--panel {
        margin: 0 20px;
        display: block;
        line-height: 3rem;

        a, span {
            font-size: 5rem;
        }
    }
}

