:root {
    --background-color: white;
    --text-color: black;
    --link-color: blue;
}

[data-theme="dark"] {
    --background-color: black;
    --text-color: white;
    --link-color: blue;
}

body {
    background: var(--background-color);
    overflow-x: hidden;
    margin: 0;
}


.languages {
    display: flex;
    flex-flow: row;
    gap:10px;
    margin-right: 30px;
    position: relative;
    top:6px;
    font-family: IBM Plex Mono-Medium;

    p {
        line-height: 0;
    }

    & .selected {
        text-decoration: underline;
    }
}

.languages > h1:hover {
    text-decoration: underline;
}

.languages > h1:first-child:hover {
    background-color: orange;
    text-decoration: underline;
    transition: opacity .25s,border-color .25s,background-color .25s,color .25s;
}

.languages > h1:nth-child(2):hover {
    background-color: darkorange;
    text-decoration: underline;
    transition: opacity .25s,border-color .25s,background-color .25s,color .25s;
}

.languages > h1:last-child:hover {
    background-color: coral;
    text-decoration: underline;
    transition: opacity .25s,border-color .25s,background-color .25s,color .25s;
}


.pageSize{
    position: fixed;
    left: 0;
    bottom: 0;

    > p {
        margin: 1px;
        font-size: 1rem;
        font-family: "IBM Plex Mono-Light";
        line-height: 1.2rem;
        color: var(--text-color)
    }
}

.landing-gif {
    position: fixed;
    top: 5vh;
    left: 0;
    width: auto;
    height: 120%;
    z-index: -1;
    pointer-events: none;
    opacity: 0.5;
}

.container-logo-pop-up {
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 20vw;
}


@media (max-width: 700px) {

    .logo-desc {
        display: none;
    }

    body {
        overflow-x: hidden;
        width: 100vw;
    }

    header > div > h1 {
        font-size: 2rem;
        line-height: 1.5rem;
        width: 100%;
    }

    ul {
        padding-left: 15px;
    }

    li {
        margin-block-start: 0.5em;
    }


    header {
        background-color: var(--background-color);
        position: relative;
    }

    header > nav {
        display: none;
    }

    .home-hero_project-grid{
        display: none;
    }

    .project-overview, .home-about {
        width: 100%;
        left: 0;
        padding:10px;
        width: 95vw;

        p, a{
            font-size: 1.7rem;
            line-height: 1.4rem;
        }
    }

    footer {
        position: relative;
    }


    .gif-animation{
        display: none;
    }

    .pageSize{
        position: relative;
    }
}

