@font-face {
    font-family: "IBM Plex Mono-Light";
    src: url("assets/fonts/IBMPlexMono-Light.otf");
}

@font-face {
    font-family: "IBM Plex Mono-Medium";
    src: url("assets/fonts/IBMPlexMono-Medium.otf");
}

:root {
    --background-color: white;
    --text-color: black;
}

[data-theme="dark"] {
    --background-color: black;
    --text-color: white;
}

body {
    font-family: "IBM Plex Mono-Light";
    background: var(--background-color);
    overflow-x: hidden;
    margin: 0px;
}

:root {
    --font-size-xs: 1rem;
    --font-size-s: 1.2rem;
    --font-size-m: 1.8rem;
    --font-size-l: 3.5rem;
}


@media (max-width: 1600px) {
    :root {
        --font-size-s: 1rem;
        --font-size-m: 1.2rem;
        --font-size-l: 2rem;
    }
}

@media (max-width: 600px) {
    :root {
        --font-size-s: 1.2rem;
        --font-size-m: 1.5rem;
        --font-size-l: 1.5rem;
    }
}


pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

h1 {
    font-family: IBM Plex Mono-Light;
    text-transform: uppercase;
}

h2 {
    font-family: IBM Plex Mono-Light;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3rem;
    text-decoration: underline;
}

.bold {
    font-family: IBM Plex Mono-Medium, Sans-Serif;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    h1 {
        margin: 1px;
        font-size: 1.5rem;
        font-family: "IBM Plex Mono-Light";
        line-height: 1.2rem;
        color:var(--text-color);
    }
}

header > div {
    display: flex;
    flex-flow: column;

    & .boxIcon {
        width: 3rem;
        height:3rem;
        justify-content: center;
        margin: auto;
        margin-right: 10px;
    }
}


header > nav {
    display: flex;
    flex-flow: row;
    & h1:hover {
        color: #C6D8D3
    }
}

a {
    color: #C6D8D3;
    font-size: var(--font-size-l);
}

nav {

}

strong{
    font-family: IBM Plex Mono-Medium, Sans-Serif;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 100%;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.languages {
    display: flex;
    flex-flow: row;
    position: absolute;
    top: 42px;
    font-family: IBM Plex Mono-Medium;
    text-transform: uppercase;

    & .selected {
        text-decoration: underline;
    }
}

.languages > h1:hover {
    text-decoration: underline;
}

.languages > h1:first-child:hover {
    background-color: orange;
    text-decoration: underline;
    transition: opacity .25s,border-color .25s,background-color .25s,color .25s;

}

.languages > h1:nth-child(2):hover {
    background-color: darkorange;
    text-decoration: underline;
    transition: opacity .25s,border-color .25s,background-color .25s,color .25s;

}

.languages > h1:last-child:hover {
    background-color: coral;
    text-decoration: underline;
    transition: opacity .25s,border-color .25s,background-color .25s,color .25s;
}

.fonts {
    display: flex;
    flex-flow: row;
    gap: 10px;
    & p {
        margin: 1px;
    }
}

.fonts > div {
    display: flex;
    flex-flow: column;
    & p {
        margin: 1px;
    }
}

/* HOME */
.home-hero{
    height: 100vh;
    padding: 20px;
}

.home-about{
    position: relative;
    top: 50%;

    p {
        text-transform: uppercase;
        font-size: 3.5rem;
        font-family: "IBM Plex Mono-Light";
        margin: 0;
        line-height: 45px;
        color: var(--text-color);
    }

    a {
        text-decoration: none;
        font-size: 3.5rem;

    }
}

.project-overview{

    position: relative;
    left: 30%;
    right: 10%;
    width: 60vw;

    p {
        font-size: var(--font-size-l);
        text-transform: uppercase;
        font-size: 3.5rem;
        line-height: 45px;
        color:var(--text-color);
        width: auto;
    }

    a {
        font-size: var(--font-size-l);
        text-transform: uppercase;
        font-size: 3.5rem;
        line-height: 45px;
        color: blue;
    }

    a:hover {
        color: orange;
    }
}

.home-hero_project-grid{
    position: absolute;
    max-width: 70vw;
    left: 25vw;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 20px;

    & img {
        max-width: 16vw;
        margin: 20px;
        opacity: 20%;
    }

    & img:hover {

    }
}

.section-label {
    background-color: var(--text-color);
    width: 350px;
    p {
        color: var(--background-color)
    }
}

.pageSize{
    position: absolute;
    left: 0;
    bottom: 0;

    > p {
        margin: 1px;
        font-size: 1rem;
        font-family: "IBM Plex Mono-Light";
        line-height: 1.2rem;
        color: var(--text-color)
    }
}


@media (max-width: 700px) {
    body {
        overflow-x: hidden;
        width: 100vw;
    }

    header > div > h1 {
        font-size: 2rem;
        line-height: 1.5rem;
        width: 100%;
    }

    ul {
        padding-left: 15px;
    }

    li {
        margin-block-start: 0.5em;
    }


    header {
        background-color: var(--background-color);
        position: relative;
    }

    header > nav {
        display: none;
    }

    .home-hero_project-grid{
        display: none;
    }

    .project-overview, .home-about {
        width: 100%;
        left: 0;
        padding:10px;
        width: 95vw;

        p, a{
            font-size: 1.7rem;
            line-height: 1.4rem;
        }
    }

    footer {
        position: relative;
    }

    .languages {
        background-color: var(--background-color);
        position: relative;
        top: 0;
        width: 100vw;
        > h1 {
            font-size: 2rem;
            margin-top: 0;
            padding: 0;
            line-height: 1.8rem;
        }

        > h1:hover {
            color: var(--text-color)
        }
    }

    .pageSize{
        position: relative;
    }
}

